/* CSS stylesheet for the Module 2 Assignment */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 30px;
    text-align: center;
    font-family: cursive;
    display: flex;
    width: auto;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 20px;
}

p{
    margin-right: auto;
    margin-left: auto;
    font-family: Cursive;
    font-weight: 520;
    color: #000000; /* hexadecimal color for black */
    padding: 30px 20px;
}

section{
    position: relative;
    border: 3px solid #000000; /* hexadecimal color for black */
    background-color: #808080; /* hexadecimal color for gray */ 
    overflow: hidden;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0px 5px;
}

.title{
    position: absolute;
    font-family: Cursive;
    width: 150px;
    height: 40px;
    margin-top: 0%;
    margin-bottom: 40px;
    margin-right: 0;
    right: 0;
    top: 0;
    border: 1px solid #000000; /* hexadecimal color for black */
    text-align: center;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    padding: 0px 5px;
}

.text{
    margin-top: 40px;
}

#chicken{
    background-color: #e87474;/* hexadecimal value for light pink */
}

#beef{
    background-color: #b32b2b;/* hexadecimal value for light red */
    color: #FFFFFF;/* hexadecimal value for white */
}

#sushi{
    background-color: #f0de6e;/* hexadecimal value for light yellow */
}

/* For Deskop/Large devices */
@media (min-width: 992px){

    .row{
        display: flex;
    }

    .sectionOne{
        margin: 0px 10px;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .sectionTwo{
        margin: 0px 10px;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .sectionThree{
        margin: 0px 10px;
        flex-wrap: wrap;
        width: 100%;
    }
}

/* For Tablet/Medium devices */
@media (min-width: 768px) and (max-width: 991px)
{

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 10px;
    }

    .sectionOne{
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .sectionTwo{
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .sectionThree{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* For Mobile/Small devices only */
@media (max-width: 767px)
{
    .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px 10px;
    }

    .sectionOne{
        margin: 10px 0px;
        display: flex;
        width: auto;
    }
    
    .sectionTwo{
        margin: 10px 0px;
        width: auto;
    }
    
    .sectionThree{
        margin: 10px 0px;
        width: auto;
    }
}